########################
# node.js / npm
########################
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
node_modules
npm-debug.log

########################
# misc / editors
########################
*~
*#
.DS_STORE
.netbeans
nbproject
.idea

########################
# version control
########################
.svn

########################
# local cache
########################
bak
*.bak
*.origin.*

########################
# travis
########################
.travis.yml

########################
# bat
########################
bat
*.bat

########################
# flash
########################
*.swf

########################
# source
########################
src
*.jade
*.coffee
*.stylus
*.cson

########################
# gulpfile
########################
gulpfile.js