name: 'node-jquery-lite'
version: '0.2.0'
description: 'Project of jquery lite for node.js.'
main: './index.js'
repository:
    type: 'git'
    url: 'https://github.com/phonowell/node-jquery-lite.git'
keywords: ['jquery', 'lite']
author: 'Mimiko Phonowell <phnonwell@gmail.com>'
license: 'GPL'
url: 'https://github.com/phonowell/node-jquery-lite'
bugs:
    url: 'https://github.com/phonowell/node-jquery-lite/issues'
homepage: 'https://github.com/phonowell/node-jquery-lite'
directories:
    test: 'test'
scripts:
    test: 'mocha'